REACT_APP_API_URL=http://127.0.0.1:3001
REACT_APP_REGION=us-east-1
REACT_APP_USER_POOL_ID=us-east-1_XXXXXXXXX
REACT_APP_USER_POOL_WEB_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX

VCAT_MANAGER_EMAIL=manager@example.com
VCAT_MANAGER_PASSWORD=SuperSecret123
VCAT_TESTER_EMAIL=tester@example.com
VCAT_TESTER_PASSWORD=AnotherSecret123
